<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SVL_Mensagem</servlet-name>
        <servlet-class>Controller.SVL_Mensagem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SVL_Orcamento</servlet-name>
        <url-pattern>/SVL_Orcamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVL_Mensagem</servlet-name>
        <url-pattern>/SVL_Mensagem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            99999999
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>SVL_Usuario</servlet-name>
        <servlet-class>Controller.SVL_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SVL_Orcamento</servlet-name>
        <servlet-class>Controller.SVL_Orcamento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SVL_Usuario</servlet-name>
        <url-pattern>/SVL_Usuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SVL_Empresa</servlet-name>
        <servlet-class>Controller.SVL_Empresa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SVL_Empresa</servlet-name>
        <url-pattern>/SVL_Empresa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SVL_Login</servlet-name>
        <servlet-class>Controller.SVL_Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SVL_Login</servlet-name>
        <url-pattern>/SVL_Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SVL_Produto</servlet-name>
        <servlet-class>Controller.SVL_Produto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SVL_Produto</servlet-name>
        <url-pattern>/SVL_Produto</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>SVL_SolicitacaoParceria</servlet-name>
        <servlet-class>Controller.SVL_SolicitacaoParceria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SVL_SolicitacaoParceria</servlet-name>
        <url-pattern>/SVL_SolicitacaoParceria</url-pattern>
    </servlet-mapping>
</web-app>
